
.splash {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login {
  position: absolute;
  // left: 39%;
  margin: 0 auto;
  top: 10%;
}

h3 {
  margin: none;
}

.dice {
  width: 10rem;
  animation-name: example;
  animation-duration: 4s
}

canvas {
  // position: absolute;
  // z-index: -1;
  margin-right: 50%;
  margin-top: 50%;
  width: 10rem;
  height: 10rem;
  background: blueviolet;
}

div {
  // -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  // animation-name: example;
  animation-duration: 4s;
}

@keyframes tumble {
  from { transform: rotate(0degrees); }
  to { transform: rotate(360degrees); }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

#loading {
  -webkit-animation: rotation 20s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 8rem;
  border: 1px solid white;
}

.spin {
  // margin: 0 auto;
  top: 50px;
  width: 4rem;
  height: 4rem;
  background-color: pink;
}