/* You can add global styles to this file, and also import other style files */
html {
  background-color: black;
}

h1, h2, h3, h4, h5, h6, p, button {
  color: rgb(180, 180, 180);
  margin: 0;
  font-family: Montserrat;
}

button {
  background-color: blue;
  border: none;
  margin: 1rem;
}